<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>

    <style>
      * {
        font-family: "Courier New", Courier, monospace;
        box-sizing: border-box;
      }
      .row {
        width: 100px;
        height: 10px;
        display:flex;
      }
      .cell {
        display:inline;
        aspect-ratio: 1 / 1;
        border: 0.5px solid black;
      }
      .empty {
        background-color: gray;
      }
    </style>

    <title>Tetris Sketch</title>
  </head>
  <body>
    <div id="app" @keyup.w="currentTetromino.coords = currentTetromino.rotate()">
      <div v-for="(row, r) in board" class="row">
        <div
          v-for="(col, c) in row"
          
          class="cell"
          :class="col === 'C' ? 'current' : col === 'P' ? 'placed' : 'empty'"
          ></div
        >
      </div>
    </div>

    <script src="./vue.js"></script>
  </body>
</html>
